@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Work+Sans:wght@300;500&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #1d1e24;
  line-height: 1.25;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}